{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block title %}Cadastrar{% endblock %}

{% block content %}

<main>
  <div id="login" class="container mt-5">

    <h3 class="text-center">Cadastrar com</h3>
    <div class="d-flex mt-4 mb-2 justify-content-center list-unstyled social-login">
      <form action="{% provider_login_url 'facebook' %}" method="POST">
      {% csrf_token %}
        <button type="submit"><img src="https://img.icons8.com/fluency/48/null/facebook-circled.png"/>Facebook</button>
      </form>

      <form action="{% provider_login_url 'google' method='js_sdk' %}" method="POST">
      {% csrf_token %}
        <button type="submit"><img src="https://img.icons8.com/fluency/48/null/google-logo.png"/> Google</button>
      </form>
    </div>

    <form method="POST">
      {% csrf_token %}
      {{form}}
      <input type="submit" value="Enviar" class="form-control btn btn-dark">
      <p>Já tem uma conta?<a href="{% url 'account_login' %}"> Entrar</a><p>
    </form>
  </div>
</main>

{% include 'footer.html' %}
{% endblock content %}
