.dark .post-content-preview, .dark .posts .post-subtitle, .dark .posts .post-meta, .dark hr{
  color: #fff;
}

.return, .posts .post-title{
  color: #4682B4;
}

.posts .title{
  color: #fff;
  text-align: center;
  margin: 0 auto 30px auto;
  width: 150px;
  background-color: #E65540;
  padding: 3px 0;
  border-radius: 20px 0 20px 0;
}

.post .post-title{
  margin-bottom: 15px;
}

.return{
  font-size: 20px;
}

.post .post-content-preview p img{
  width: 100% !important;
  height: auto !important;
}

.posts hr{
  margin-bottom: 50px;
}
