{% extends 'base.html' %}

{% block titulo %}Politicas de Privacidade{% endblock %}

{% block content %}
<main class="container mt-4 text-center">
  <h1>Declaração de Privacidade da Thunder Store</h1>
  <p>Agradeço por confiar suas informações pessoais à Thunder Store. Tomei todas as medidas razoavelmente necessárias para proteger a confidencialidade, a integridade e a disponibilidade das suas informações pessoais na Thunder Store e para proteger a resiliência dos nossos servidores. Fornecemos os mesmos altos padrões de proteção de privacidade a todos os nossos usuários em todo o mundo. Em geral a Thunder Store retém as Informações Pessoais de Usuário enquanto a sua conta está ativa ou sempre que for necessário para prestar serviços a você. Para cancelar sua conta ou excluir suas Informações Pessoais de Usuário, acesse as configurações de sua conta da plataforma e click no botão deletar conta. feito isso todos os seus dados serão deletados instantaneamente do servidor.</p>
  <a href="{% url 'products:products' %}">Retornar</a>
</main>
{% endblock%}
